"*":
  core:
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "281e88d2-4145-0f4a-dfc1-ef224a2a9bd6"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
